<li uib-accordian-group heading="{{ songItemCtrl.song.name | uppercase }}">
  <h4>created: {{ songItemCtrl.song.created | date }}</h4>
  <div ng-if="!songItemCtrl.showEditSong">
    <ul>
      <li class="scott">title: {{ songItemCtrl.song.name }}</li>
      <li class="scott">description: {{ songItemCtrl.song.desc }}</li>
    </ul>
  </div>

 <edit-song ng-if="songItemCtrl.showEditSong" song="songItemCtrl.song"></edit-song>
  <a ng-click="butn = !butn">
    <button ng-show="!butn" ng-click="songItemCtrl.showEditSong = !songItemCtrl.showEditSong">edit</button>
  </a><hr>
</li>
