<section class="created">
  <div uib-accordian-group heading="{{ songItemCtrl.song.name | uppercase }}">
    <h4>created: {{ songItemCtrl.song.created | date }}</h4>
    <div class="song" ng-if="!songItemCtrl.showEditSong">
      <ul>
        <li class="songs">title: {{ songItemCtrl.song.name }}</li>
        <li class="songs">description: {{ songItemCtrl.song.desc }}</li>
        <ul>
          <element
            ng-repeat="item in songItemCtrl.song.elements"
            elements="songItemCtrl.song.elements"
            element="item">
          </element>
        </ul>
      </ul>
    </div>
   <edit-song ng-if="songItemCtrl.showEditSong" song="songItemCtrl.song"></edit-song>
    <a ng-click="butn = !butn">
      <button ng-show="!butn" ng-click="songItemCtrl.showEditSong = !songItemCtrl.showEditSong">edit</button>
    </a><hr>
  </div>
</section>
