// @import url('./imgs');
// @import '/imgs/Rocket.ttf=Rocket';

html {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  border-radius: 0.3em;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2.5%;
}
@font-face {
  font-family: 'rocket';
  src: url('../imgs/Rockit.ttf')
}
h1 {
  font-family: "rocket";
}

section {
  display: inline-block;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 800px) {
  div.background {
    left: 25%;
    right: 25%;
  }

  html {
    font-size: 1.25em;
  }

  .splash-content {
    width: 50%;
  }
}
// ul {
//   list-style: none;
//   padding: inherit;
//   text-align: left;
//   margin-bottom: 5%;
// }

//
// body {
//   margin: auto;
// }

//
// div.background {
//   margin: auto;
//   background-color: #888;
//   position: absolute;
//   left: 8%;
//   right: 8%;
//   // top: 16%;
//   height: 200%;
//   // height: 100% !important;
//   // height: auto;
//   z-index: -999999999;
// }
//
// label {
//   font-family: monospace;
// }
//
// input {
//   margin: auto;
//   margin-top: 2%;
//   margin-bottom: 2%;
// }
