@font-face {
  font-family: 'rocket';
  src: url('../imgs/Rockit.ttf')
}
h1 {
  font-family: "rocket";
  position:relative;
  z-index:2;
  top:0px;
  text-align: center;
  color: #911A1F;
}
.title-background {
  position:absolute;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:-1;
}
.title {
  position: relative;
  height: 200px;
}
input {
  border-radius: 10px;
}
html {
  background-color: #0F0F0F;
  z-index: -5;
}
