<section class="signup">
  <h2>{{  signupCtrl.title  }}</h2>
  <form
    class="signup-form"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input class="input-std"
      type="text"
      placeholder="name"
      ng-minlength="4"
      ng-model="signupCtrl.user.username"
      required>

      <input
        class="input-std"
        type="text"
        placeholder="email"
        ng-model="signupCtrl.user.email"
        required>

        <input
          class="input-std"
          type="text"
          placeholder="password"
          ng-minlength="7"
          ng-model="signupCtrl.user.password"
          required>

          <button class="btn-std">Sign Up</button>
  </form>

  <!-- <div class="members">
    <p>For Members Only</p>
    <button class="toggle-button">
      <a href="/#!/login"
      ng-sh="landingCtrl.showSignin=true">
      Sign In
    </a>
    </button>
  </div> -->

</section>
