<!-- <li uib-accordian-group heading="{{ songItemCtrl.song.name | uppercase }}">
  <h4>created: {{ songItemCtrl.song.created | date }}</h4>
  <div ng-if="!songItemCtrl.showEditSong">
    <ul>
      <li>title: {{ songService.song.name }}</li>
      <li>description: {{ songService.song.desc }}</li>
    </ul>
  </div> -->
  <!-- <ul class="song-item">
    <div>
        <song-item
          ng-repeat="item in profileCtrl.allTheSongs"
          song="item"
          >
      </song-item>
    </div>
  </ul> -->
