<section>
  <form
  ng-submit="uploadelementCtrl.uploadelement()"
  novalidate>
<h3>Upload element</h3>
    <fieldset>
      <div class="upload-fields">
        <!-- <label for="name">name</label> -->
        <input type="text" name="name" placeholder="name" ng-model="uploadelementCtrl.element.name">
        <!-- <label for="description">description</label> -->
        <input type="text" name="description" placeholder="description" ng-model="uploadelementCtrl.element.description">
      </div>
    </fieldset>

    <div>
      <p ngf-select ng-model="uploadelementCtrl.element.file">
        choose file
      </p>
      <button type="submit" name="upload element">upload file</button>
    </div>

  </form>
</section>
