<!-- <div class="create-song"> -->
<section class="splash-content">
  <h2>{{ splashCtrl.title }}</h2>

  <img class="splash-background" ng-src="https://static1.squarespace.com/static/56f1f8fe8a65e2db95a60e3f/t/56f213b8f699bbd885a22042/1458705347401/5864713122_72a8381983_b.jpg?format=2500w">

  <!-- <navbar></navbar> -->

  <create-song class="create-song">
  </create-song>

  <element-container ng-if="splashCtrl.currentSong"  song="splashCtrl.currentSong"></element-container><br>
  <label for="song-selection">select the song you would<br>like to add elements to: </label>
  <select
  name="song-selection"
  ng-options="item as item.name for item in splashCtrl.songs track by item._id"
  ng-model="splashCtrl.currentSong"></select><hr>
  <ul class="song-item">
    <div>
        <song-item uib-accordian-group class="panel-default" ng-repeat="item in splashCtrl.songs"
        currentSong="splashCtrl.currentSong"
        songs="splashCtrl.songs" song="item"></song-item>
    </div>
  </ul>
</section>
<!-- </div> -->
