<section class="navbar">

    <!-- <nav> -->
      <div class="logout">
        <button class="btn-std" ng-click="navbarCtrl.logout()">logout</button>
        <!-- <a href="#!/home" ng-click="homeCtrl.currentUser()" class="button"><button>home</button></a> -->
        <!-- <button href="#!/profile" ng-click="profileCtrl.currentUser()" class="button">profile</button> -->
      </div>
      <!-- <div>
        <button href="#!/profile" ng-click="profileCtrl.currentUser()" class="button">profile</button>
      </div> -->
</section>
