<section class="navbar">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">
    <img src="https://media3.giphy.com/media/3oEjHJxLCoY8qFGUJW/200w.webp#5-grid1" alt="">


    <h2>NAVBAAAAR!</h2>

    <nav>
      <div ng-hide="navbarCtrl.hideButtons">
        <button class="btn-std" ng-click="navbarCtrl.logout()">LOGOUT</button>
      </div>
    </nav>

</section>
